<h1><%=@user.username%>&apos;s Bookmark Organizer</h1>
<h2>Bookmarks</h2>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tags</th>
    <th>URL</th> 
  </tr>
  <%@bookmarks.each do |bookmark|%>
    <tr>
        <td><a href='bookmarks/<%=bookmark.id%>'><%=bookmark.name%></a></td>
        <td>
        <%bookmark.tags.each do |tag|%>
            <a href='tags/<%=tag.id%>'><%=tag.name %></a>
        <%end%>
        </td>
        <td><a href='<%=bookmark.url%>' target='_blank'><%=bookmark.url%></a></td>
    </tr>
  <%end%>
</table>

<h2>Tags</h2>
<table style="width:100%">
    <tr>
        <th>Name</th>
    </tr>
    <tr><td>  
    <%@tags.each do |tag|%>
       <a href='tags/<%=tag.id%>'><%=tag.name %></a>
    <%end%>
    </td></tr>
</table>