<h1>Show Tag - <%=@tag.name%> - for Bookmarks: </h1><br></br>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>URL</th> 
  </tr>
    <%@tag.bookmarks.each do |bookmark|%>
    <tr>
        <td><%=bookmark.name %></td>
         <td><%=bookmark.url%></td>
    </tr>
    <%end%>
</table><br></br>
<form action='/tags/<%=@tag.id%>/edit' method='get'>
    <input type='submit' value='Edit Tag'>
</form>
<form action='/tags/<%=@tag.id%>/delete' method='post'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' value='Delete Tag'>
</form>

